[Unit]
Description=Minecraft Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ minecraft_user }}
Group={{ minecraft_user }}
WorkingDirectory={{ minecraft_root }}

ExecStart="screen -dmS minecraft /bin/bash start.sh"
ExecStop="screen -p 0 -S minecraft -X eval 'stuff \"stop\"\\015'"

[Install]
WantedBy=multi-user.target
